.nav-logo{background-size:28px 28px; height:45px;}
.header-logo{background-size:28px 28px; width:50px;}
.footer .footer-logo{background-size:80px 80px;	height:80px!important; margin-bottom:20px!important;}

.theme-light .header .header-logo{background-image:url(../images/preload-logo.png);}
.theme-light .menu .nav-logo{background-image:url(../images/preload-logo.png);}
.theme-light .footer .footer-logo{background-image:url(../images/preload-logo.png);}

.theme-dark .header .header-logo{background-image:url(../images/preload-logo.png);}
.theme-dark .menu .nav-logo{background-image:url(../images/preload-logo.png);}
.theme-dark .footer .footer-logo{background-image:url(../images/preload-logo.png);}


body * :not(.fa):not(.fab):not(.fas):not(.input-group) {
  font-family: 'Cairo' !important;
  direction: rtl ;

}
.owl-stage-outer {
  font-family: 'Cairo' !important;
  direction: ltr !important;
  text-align: -webkit-auto;
}

input[type=email],.form_datetime {
  direction: ltr !important;
}

.loading {
    background-image: url(../img/logos/loading.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 300px;
}
.loading * {
 visibility: hidden;
}